# Server-specific ignores
/server/cdk.out/
/server/cdk/cdk.out/
/server/cdk/node_modules/

# Angular/Client ignores
**/node_modules/
**/.angular/
**/dist/
**/tmp/
**/out-tsc/
**/bazel-out/
**/package-lock.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# IDE - JetBrains
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# System Files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compiled output
*.js.map
*.css.map

# Testing
/coverage
/.nyc_output