.document-list {
  padding: 20px;
  
  h2 {
    margin-bottom: 20px;
  }
  
  .button-panel {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  table {
    width: 100%;
  }
}